---
import { Icon } from "astro-icon/components";
import { DISCORD_LINK, MEETUP_LINK } from "../../constants";
import background from "../assets/background.svg";
import styles from "../styles/scss/layouts/welcome.module.scss";
---

<div class={styles.container}>
	<img class={styles.background} src={background.src} alt="" fetchpriority="high" />
	<main>
		<section class={styles.hero}>
			<h1 class={styles.title}>twincities<strong>os</strong>.dev</h1>
			<h2>A Minnesota Twin Cities open source community</h2>
			<p>An open group supporting open source projects and community engagement.</p>

			<nav class={styles.links}>
				<a target="_blank" href={MEETUP_LINK}>Attend a meetup</a>
				<a target="_blank" href={DISCORD_LINK}>Join our Discord
					<Icon class=`${styles.discordIcon}` name="discord"/>
				</a>
			</nav>
		</section>
	</main>
</div>

